target/
debug/
release/
rls/
*.o

rust-all-in-one-projects/workspace/projects/pacman/my/pacman_bin/data/*


.github/workflows/ci.yml
.github/workflows/.travis.yml
.github/workflows/coverage.yml
.github/workflows/build-and-test.yml
.github/workflows/publish.yml
